/* Style du body ***************************************************************************************************/
main {
    background-image: url(../images/metalgearsolid.jpg);   /* Défini le chemin de l'image de background */
    background-position: center top;                      /* Centre le fond d'ecran */
    background-repeat: no-repeat;                        /* Indique qu'il ne faut pas repeter le background */
    background-size: cover;                             /* Redimensionne l'image pour qu'elle tienne entierement dans la boite (element HTML) */
    transition: background-image 0.5s linear;          /* Ajoute une transition linéaire qui se fait en 0.1s */
 }

 .eye{
    display: flex;             /* Appelle de la flexbox afin d'ordonner les elements qui la compose */
    flex-direction: row;      /* Défini la direction du flex ici en ligne */
    justify-content: center; /* Centre horizontalement */
    align-items: center;    /*Centre verticalement */
 }

 .fa-eye-slash{
    display: none;       /* Défini que l'icone d'oeil barré pas affiché */
    visibility: hidden; /* Défini que l'icone d'oeil barré est caché */
}

.fa-eye{
    display: block; /* Défini que l'icone d'oeil est affiché */
}

/* Forme du body */
 .shapeBody{
    display: flex;                       /* Appelle de la flexbox afin d'ordonner les elements qui la compose */
    flex-direction: row;                /* Indique que l'alignement des elements HTML qui compose la flexbox doit se faire en ligne vertical */
    color: white;                    /* Change la couleur de la police */
    font-family: 'Inter', sans-serif; /* Défini la famille de police */
    padding-top: 25vh;               /* Défini le rembourrage vers le haut */
    padding-bottom: 30vh;           /* Défini le rembourrage vers le bas */
    padding-left: 10vh;            /* Défini le rembourrage vers la gauche */
 }

/* Forme de la partie connexion */
 .shapeConnexion{
    display: flex;           /* Appelle de la flexbox afin d'ordonner les elements qui la compose */
    flex-direction: column; /* Indique que l'alignement des elements HTML qui compose la flexbox doit se faire en ligne vertical */
 }

/* Style du label */
 .identify{
    font-weight: bold; /* Défini la police en gras */
    font-size: 40px;  /* Défini la taille de la police */
    padding: 1vh;    /* Défini le rembourrage */
 }

/* Style de l'input email */
 .email2{
    background-color: #303236; /* Change la couleur du background grace a la valeur indiqué apres le symbole # */
    margin: 1vh;                /* Défini la marge */
    width: 60vh;               /* Défini la largeur */
    height: 12vh;             /* Défini la hauteur */
    border: none;            /* Supprime la bordure */
}

/* Style de l'input1 */
.input1{
    background-color: #303236;       /* Change la couleur du background grace a la valeur indiqué apres le symbole # */
    padding-left: 2vh;                /* Défini le rembourrage sur la gauche */
    display: flex;                   /* Appelle de la flexbox afin d'ordonner les elements qui la compose */
    flex-direction: row;            /*Indique la direction du flex ici en ligne */
    justify-content: start center; /*Centre horizontalement */
    align-items: center;          /*Centre verticalement */
}

/* Style du separateur */
.separateur{
    padding: 1vh; /* Défini le rembourrage */
}

/* Style de l'input password */
.password2{
    background-color: #303236; /* Change la couleur du background grace a la valeur indiqué apres le symbole # */
    margin: 1vh;                /* Défini la marge */
    width: 60vh;               /* Défini la largeur */
    height: 12vh;             /* Défini la hauteur */
    border: none;            /* Supprime la bordure */
}

/* Style de l'input2 */
.input2{
    background-color: #303236; /* Change la couleur du background grace a la valeur indiqué apres le symbole # */
    padding-left: 2vh;          /* Défini le rembourrage sur la gauche */
}

/* Style du bouton valider */
 .inputValider{
    font-family: 'Inter', sans-serif; /* Défini la famille de police */
    font-weight: bold;               /* Défini la police en gras */
    font-size: 5vh;                 /* Défini la taille de la police */
    background-color: #59B200;   /* Change la couleur du background grace a la valeur indiqué apres le symbole # */
    max-width: 40vh;              /* Défini la largeur max */ 
    color: white;              /* Change la couleur de la police */
    border-radius: 1vh;         /* Défini le degres d'arrondissement des bords */
    padding: 2vh;              /* Défini le rembourrage */
    margin-top: 5vh;          /* Défini la marge par rapport a l'element du haut */
    margin-left: 26vh;       /* Défini la marge par rapport a l'element du haut */
    border: none;           /* Supprime la bordure */
}

/* Style des messages d'erreur */
.messageErreur{
    font-style: italic; /* Défini le style de la police sur italique */
    color: red;      /* Change la couleur de la police */
}

/* Forme de la créer un compte */
 .shapeCreerCompte{
    display: flex;           /* Appelle de la flexbox afin d'ordonner les elements qui la compose */
    flex-direction: column; /* Indique que l'alignement des elements HTML qui compose la flexbox doit se faire en ligne vertical */
    margin-left: 25vh;     /* Défini la marge avec le premier element a gauche */
    font-weight: bold;    /* Défini la police en gras */
 }

 /* Forme du span A */
 .spanA{
    font-size: 24px;      /* Défini la taille de la police */
    padding-bottom: 5vh; /* Défini le rembourrage vers le bas */
 }

 /* Forme des span C */
 .spanC{
    padding-bottom: 2vh; /* Défini le rembourrage vers le bas */
 }
 
/* Style du bouton Créer un compte */
 .inputCréerCompte{
    font-family: 'Inter', sans-serif; /* Défini la famille de police */
    font-weight: bold;               /* Défini la police en gras */
    font-size: 3vh;                 /* Défini la taille de la police */
    background-color: #59B200;   /* Change la couleur du background grace a la valeur indiqué apres le symbole # */
    color: white;               /* Change la couleur de la police */
    border-radius: 1vh;          /* Défini le degrés d'arrondissement des bords*/
    padding: 1vh;               /* Défini le rembourrage */
    border: none;              /* Supprime la bordure */
    width: 40vh;              /* Défini la largeur max */ 
    height: 10vh;            /* Défini la hauteur */
    margin-top: 3vh;        /* Défini la marge par rapport a l'element du haut */
}

/* Style Responsive **************************************************************************************************************************/
@media only screen and (min-width:768px) and (max-width:1400px){ /* Défini le style responsive pour tablette */
    .shapeBody{
       flex-direction: column; /* Indique que l'alignement des elements HTML qui compose la flexbox doit se faire en ligne vertical */
    }

    .shapeConnexion{
        display: flex;           /* Appelle de la flexbox afin d'ordonner les elements qui la compose */
        flex-direction: column; /* Indique que l'alignement des elements HTML qui compose la flexbox doit se faire en ligne horizontal */
    }

    .shapeCreerCompte{
        margin-left: 0;     /* Défini la marge avec le premier element a gauche */
        margin-top: 10vh;  /* Défini la marge avec le premier element en haut */
        color: white;   /* Change la couleur de la police */
     }

     .input1{
        width: 70vh; /* Défini la largeur */
     }

     .input2{
        width: 70vh; /* Défini la largeur */
     }
 }
 
 @media only screen and (max-width:767px){ /* Défini le style responsive pour smartphone */
    .body {
        background-image: url(../images/bgMetalgearsolid.jpg);  /* Défini le chemin de l'image de background */
    }

    .shapeBody{
        flex-direction: column; /* Indique que l'alignement des elements HTML qui compose la flexbox doit se faire en ligne vertical */
    }

    .email2{
        max-width: 50vh; /* Défini la largeur max */
    }

    .input1{
        width: 40vh; /* Défini la largeur */
     }

     .input2{
        width: 40vh; /* Défini la largeur */
     }
    
    .password2{
        max-width: 50vh; /* Défini la largeur max */
    }

    .inputValider{
        max-width: 40vh; /* Défini la largeur max */
        margin-left: 0; /* Défini la marge avec le premier element a gauche */

    }

    .shapeCreerCompte{
        margin-left: 0;    /* Défini la marge avec le premier element a gauche */
        margin-top: 10vh; /* Défini la marge avec le premier element en haut */
        color: white;  /* Change la couleur de la police */
     }
 }
