/* Style du main ****************************************************************************************************/
main{
    background-color: #22252a; /* Défini la couleur du background */
    color: white;             /* Défini la couleur de la police */
    font-weight: bold;
}


/* Style du deconnexion */
.deconnexion{
    display: flex;          /* Appelle de la flexbox afin d'ordonner les elements qui la compose */
    flex-direction: row;   /* Indique que l'alignement des elements HTML qui compose la flexbox doit se faire en ligne horizontal */
    cursor: pointer;      /* Modifie le curseur au moment du survol de la zone deconnnexion */
}

/* Style de l'affichage des données */
.affichageDonnees{
    display: flex;                        /* Appelle de la flexbox afin d'ordonner les elements qui la compose */
    flex-direction: row;                 /* Indique que l'alignement des elements HTML qui compose la flexbox doit se faire en ligne horizontal */
    justify-content: space-between;     /* Défini l'espacement de l'affichage des données */
    font-weight: bold;                 /* Défini la police en gras */
    font-family: 'Inter', sans-serif; /* Défini la famille de police */
}

.thead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #272a30;
    font-size: 2.5em;
    margin-top: 20px;
}

.sujet{
    background-color: aqua;
}

/* Style Responsive **************************************************************************************************************************/
@media only screen and (max-width:767px){ /* Défini le style responsive pour smartphone */
    .header{
        font-size: 24px; /* Défini la taille de la police */
    }

    .affichageDonnees{
        font-size: 10px; /* Défini la taille de la police */
    }
 }